Repository vladimoroshan/deno, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bartlomieju, @kt3k, @piscisaureus, @kitsonk, @AaronO, @dsherret, @ry, @crowlKats, @lucacasonato, @littledivy

.github/CODEOWNERS:

# project root files (README, Releases, LICENCE, etc)
/*              @bartlomieju

# CI files
.github         @bartlomieju @kt3k @piscisaureus  

.devcontainer/  @kitsonk

bench_util/     @AaronO
cli/            @bartlomieju
cli/ast/        @dsherret @kitsonk
cli/dts/        @kitsonk
cli/lsp/        @dsherret @kitsonk
cli/schemas/    @kitsonk
cli/tsc/        @kitsonk
core/           @bartlomieju
docs/           @ry
ext/            @bartlomieju @crowlKats @lucacasonato @littledivy
ext/tls/        @piscisaureus
ext/console/    @kt3k
ext/crypto/     @lucacasonato @littledivy
ext/web/        @crowlKats @lucacasonato
ext/webidl/     @lucacasonato
ext/webgpu/     @crowlKats @lucacasonato
ext/ffi/        @littledivy @piscisaureus
runtime/        @bartlomieju
serde_v8/       @AaronO
test_ffi/       @bartlomieju @littledivy
test_util/      @bartlomieju
test_util/wpt/  @lucacasonato
test_util/      @bartlomieju
third_party/    @bartlomieju
tools/          @bartlomieju @dsherret
tools/wpt/      @lucacasonato

chore: bump deno_http to 0.32.0 (#13850)
  Cargo.lock
  ext/http/Cargo.toml
  runtime/Cargo.toml
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy

bench(common): base64 short strings (#13851)
  cli/bench/deno_common.js
Owners: @bartlomieju

perf(serde_v8): optimize ByteString deserialization (#13853)
  serde_v8/benches/de.rs
  serde_v8/benches/ser.rs
  serde_v8/src/de.rs
  serde_v8/src/error.rs
  serde_v8/tests/de.rs
Owners: @AaronO

cleanup(serde_v8): SerializablePkg verbosity (#13855)
  serde_v8/src/serializable.rs
Owners: @AaronO

perf(serde_v8): avoid SerializablePkg allocs (#13860)
  serde_v8/src/serializable.rs
Owners: @AaronO

fix(ext/http): drop content-length header on compression (#13866)
  cli/tests/unit/http_test.ts
  ext/http/lib.rs
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy

chore: bump deno_http to 0.33.0 (#13867)
  Cargo.lock
  ext/http/Cargo.toml
  runtime/Cargo.toml
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy
