Repository vladimoroshan/deno, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bartlomieju, @kt3k, @piscisaureus, @kitsonk, @AaronO, @dsherret, @ry, @crowlKats, @lucacasonato, @littledivy

.github/CODEOWNERS:

# project root files (README, Releases, LICENCE, etc)
/*              @bartlomieju

# CI files
.github         @bartlomieju @kt3k @piscisaureus  

.devcontainer/  @kitsonk

bench_util/     @AaronO
cli/            @bartlomieju
cli/ast/        @dsherret @kitsonk
cli/dts/        @kitsonk
cli/lsp/        @dsherret @kitsonk
cli/schemas/    @kitsonk
cli/tsc/        @kitsonk
core/           @bartlomieju
docs/           @ry
ext/            @bartlomieju @crowlKats @lucacasonato @littledivy
ext/tls/        @piscisaureus
ext/console/    @kt3k
ext/crypto/     @lucacasonato @littledivy
ext/web/        @crowlKats @lucacasonato
ext/webidl/     @lucacasonato
ext/webgpu/     @crowlKats @lucacasonato
ext/ffi/        @littledivy @piscisaureus
runtime/        @bartlomieju
serde_v8/       @AaronO
test_ffi/       @bartlomieju @littledivy
test_util/      @bartlomieju
test_util/wpt/  @lucacasonato
test_util/      @bartlomieju
third_party/    @bartlomieju
tools/          @bartlomieju @dsherret
tools/wpt/      @lucacasonato

fix(vendor): do not add absolute specifiers to scopes (#13710)
  cli/tools/vendor/build.rs
  cli/tools/vendor/import_map.rs
Owners: @bartlomieju, @dsherret

chore: use `rustfmt` cli via dprint for faster format (#13735)
  .dprint.json
  tools/format.js
Owners: @bartlomieju, @dsherret

docs: code example to `structuredClone`, `CompressionStream`, `DecompressionStream` (#13719)
  cli/dts/lib.deno.ns.d.ts
  cli/dts/lib.deno.window.d.ts
  ext/web/lib.deno_web.d.ts
  ext/websocket/lib.deno_websocket.d.ts
Owners: @kitsonk, @crowlKats, @lucacasonato, @bartlomieju, @littledivy

feat: allow specification of import map in config file (#13739)
  cli/config_file.rs
  cli/lsp/language_server.rs
  cli/main.rs
  cli/proc_state.rs
  cli/schemas/config-file.v1.json
  cli/tests/integration/lsp_tests.rs
  cli/tests/testdata/lsp/deno.import_map.jsonc
Owners: @bartlomieju, @dsherret, @kitsonk

bench: core.encode/decode (#13750)
  bench_util/Cargo.toml
  bench_util/benches/utf8.rs
  bench_util/src/js_runtime.rs
Owners: @AaronO

refactor: remove dead code from lsp (#13743)
  cli/lsp/analysis.rs
  cli/lsp/client.rs
  cli/lsp/completions.rs
  cli/lsp/config.rs
  cli/lsp/diagnostics.rs
  cli/lsp/documents.rs
  cli/lsp/language_server.rs
  cli/lsp/mod.rs
  cli/lsp/performance.rs
  cli/lsp/registries.rs
  cli/lsp/repl.rs
  cli/lsp/tsc.rs
Owners: @dsherret, @kitsonk

fix(upgrade): move the file permission check to the beginning of the upgrade process (#13726)
  cli/tools/upgrade.rs
Owners: @bartlomieju, @dsherret

feat(ext/net): support cert, key options in listenTls (#13740)
  cli/tests/unit/tls_test.ts
  ext/net/02_tls.js
  ext/net/lib.deno_net.d.ts
  ext/net/ops_tls.rs
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy

fix(compile): Support import maps (#13756)
  cli/main.rs
  cli/standalone.rs
  cli/tests/integration/compile_tests.rs
  cli/tests/testdata/standalone_import_map.json
  cli/tests/testdata/standalone_import_map.ts
  cli/tools/standalone.rs
Owners: @bartlomieju, @dsherret

chore: upgrade swc_ecmascript to 0.114 (#13758)
  Cargo.lock
  cli/Cargo.toml
  core/Cargo.toml
Owners: @bartlomieju

1.19.1 (#13762)
  Cargo.lock
  Releases.md
  cli/Cargo.toml
  cli/compat/esm_resolver.rs
  cli/compat/mod.rs
Owners: @bartlomieju

chore: bump crate versions for 1.19.1 (#13760)
  Cargo.lock
  bench_util/Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  ext/broadcast_channel/Cargo.toml
  ext/console/Cargo.toml
  ext/crypto/Cargo.toml
  ext/fetch/Cargo.toml
  ext/ffi/Cargo.toml
  ext/http/Cargo.toml
  ext/net/Cargo.toml
  ext/tls/Cargo.toml
  ext/url/Cargo.toml
  ext/web/Cargo.toml
  ext/webgpu/Cargo.toml
  ext/webidl/Cargo.toml
  ext/websocket/Cargo.toml
  ext/webstorage/Cargo.toml
  runtime/Cargo.toml
  serde_v8/Cargo.toml
Owners: @bartlomieju, @AaronO, @crowlKats, @lucacasonato, @littledivy, @kt3k, @piscisaureus

feat(cli): support data url (#13667)
  cli/tests/testdata/compiler_api_test.ts
  runtime/js/40_compiler_api.js
Owners: @bartlomieju

chore: upgrade to Rust 1.59 (#13767)
  .github/workflows/ci.yml
  Cargo.lock
  cli/Cargo.toml
  cli/cache.rs
  cli/compat/esm_resolver.rs
  cli/compat/mod.rs
  cli/config_file.rs
  cli/disk_cache.rs
  cli/flags.rs
  cli/lsp/cache.rs
  cli/lsp/diagnostics.rs
  cli/lsp/documents.rs
  cli/lsp/language_server.rs
  cli/lsp/tsc.rs
  cli/main.rs
  cli/proc_state.rs
  cli/standalone.rs
  cli/tools/coverage/mod.rs
  cli/tools/fmt.rs
  cli/tools/installer.rs
  cli/tools/repl/editor.rs
  cli/tools/test.rs
  cli/tools/upgrade.rs
  cli/tools/vendor/mod.rs
  cli/tools/vendor/test.rs
  cli/tsc.rs
  core/async_cancel.rs
  core/module_specifier.rs
  runtime/ops/web_worker/sync_fetch.rs
  runtime/permissions.rs
  rust-toolchain.toml
Owners: @bartlomieju, @kt3k, @piscisaureus, @dsherret, @kitsonk

fix(cli): disable config discovery for remote script (#13745)
  cli/config_file.rs
  cli/flags.rs
  cli/tests/integration/run_tests.rs
  cli/tests/testdata/run/with_config/deno.jsonc
  cli/tests/testdata/run/with_config/frontend_work.ts
  cli/tests/testdata/run/with_config/server_side_work.ts
Owners: @bartlomieju

feat: deno test --trace-ops (#13770)
  cli/flags.rs
  cli/tests/integration/test_tests.rs
  cli/tests/testdata/test/ops_sanitizer_multiple_timeout_tests_no_trace.out
  cli/tools/test.rs
  core/01_core.js
  runtime/js/40_testing.js
Owners: @bartlomieju, @dsherret

chore(ci): pin setup-gcloud to `v0` instead of `master` (#13764)
  .github/workflows/ci.yml
Owners: @bartlomieju, @kt3k, @piscisaureus

fix(test): use --no-prompt by default (#13777)
  cli/flags.rs
  cli/tests/integration/test_tests.rs
  cli/tests/testdata/test/no_prompt_by_default.out
  cli/tests/testdata/test/no_prompt_by_default.ts
  cli/tests/testdata/test/no_prompt_with_denied_perms.out
  cli/tests/testdata/test/no_prompt_with_denied_perms.ts
Owners: @bartlomieju

feat(compat): CJS/ESM interoperability (#13553)
  Cargo.lock
  cli/Cargo.toml
  cli/compat/mod.rs
  cli/graph_util.rs
  cli/proc_state.rs
  cli/tests/integration/compat_tests.rs
  cli/tests/testdata/compat/import_cjs_from_esm.out
  cli/tests/testdata/compat/import_cjs_from_esm/imported.js
  cli/tests/testdata/compat/import_cjs_from_esm/main.mjs
  cli/tests/testdata/compat/import_cjs_from_esm/reexports.js
  cli/tests/testdata/compat/import_cjs_from_esm/reexports2.js
Owners: @bartlomieju

feat: Add Deno.TcpConn class, change return type from Deno.connect (#13714)
  cli/dts/lib.deno.unstable.d.ts
  cli/tests/unit/tls_test.ts
  cli/tsc.rs
  ext/net/01_net.js
  ext/net/lib.deno_net.d.ts
Owners: @kitsonk, @bartlomieju, @crowlKats, @lucacasonato, @littledivy

chore: Add "noImplicitOverride" to config-file.v1.json (#13780)
  cli/schemas/config-file.v1.json
Owners: @kitsonk

fix(runtime): disable console color for non tty stdout (#13782)
  cli/main.rs
  cli/standalone.rs
  cli/tests/unit/tty_color_test.ts
  runtime/colors.rs
  runtime/examples/hello_runtime.rs
  runtime/js/99_main.js
  runtime/worker.rs
  runtime/worker_bootstrap.rs
Owners: @bartlomieju

chore(tools): use automation scripts from automation repo (#13796)
  tools/release/01_bump_dependency_crate_versions.ts
  tools/release/02_publish_dependency_crates.ts
  tools/release/03_bump_cli_version.ts
  tools/release/deno_workspace.ts
  tools/release/deps.ts
  tools/release/helpers/cargo.ts
  tools/release/helpers/crates_io.ts
  tools/release/helpers/deno_workspace.ts
  tools/release/helpers/helpers.ts
  tools/release/helpers/mod.ts
Owners: @bartlomieju, @dsherret

feat(cli): update to TypeScript 4.6.2 (#13474)
  cli/build.rs
  cli/dts/lib.dom.d.ts
  cli/dts/lib.dom.iterable.d.ts
  cli/dts/lib.es2015.iterable.d.ts
  cli/dts/lib.es2020.intl.d.ts
  cli/dts/lib.es2021.intl.d.ts
  cli/dts/lib.es2022.array.d.ts
  cli/dts/lib.es2022.d.ts
  cli/dts/lib.es2022.error.d.ts
  cli/dts/lib.es2022.full.d.ts
  cli/dts/lib.es2022.object.d.ts
  cli/dts/lib.es2022.string.d.ts
  cli/dts/lib.es5.d.ts
  cli/dts/lib.esnext.array.d.ts
  cli/dts/lib.esnext.d.ts
  cli/dts/lib.esnext.error.d.ts
  cli/dts/lib.esnext.object.d.ts
  cli/dts/lib.esnext.string.d.ts
  cli/dts/lib.webworker.d.ts
  cli/dts/lib.webworker.iterable.d.ts
  cli/dts/typescript.d.ts
  cli/tests/testdata/error_cause.ts
  cli/tests/testdata/error_cause.ts.out
  cli/tests/testdata/lsp/code_action_response_imports.json
  cli/tests/testdata/lsp/code_action_response_refactor.json
  cli/tests/unit/console_test.ts
  cli/tests/unit/esnext_test.ts
  cli/tsc.rs
Owners: @bartlomieju, @kitsonk

fix(repl): fix null eval result (#13804)
  cli/cdp.rs
  cli/tests/integration/repl_tests.rs
Owners: @bartlomieju

feat(ext/crypto): AES-GCM support for 128bit IVs (#13805)
  cli/tests/unit/webcrypto_test.ts
  ext/crypto/00_crypto.js
  ext/crypto/decrypt.rs
  ext/crypto/encrypt.rs
  tools/wpt/expectation.json
Owners: @bartlomieju, @lucacasonato, @littledivy

chore: cancel old in-progress CI workflows (#13811)
  .github/workflows/ci.yml
Owners: @bartlomieju, @kt3k, @piscisaureus

chore: add `test-flaky-ci` label to disable default workflow concurrency (#13813)
  .github/workflows/ci.yml
Owners: @bartlomieju, @kt3k, @piscisaureus

chore(lsp): log more for "unexpected positions" lsp error (#13815)
  cli/lsp/documents.rs
  cli/lsp/language_server.rs
  cli/lsp/tsc.rs
Owners: @dsherret, @kitsonk

docs: information about updating TypeScript version (#13810)
  tools/update_typescript.md
Owners: @bartlomieju, @dsherret

chore: bump crate version for 1.19.2 (#13824)
  Cargo.lock
  bench_util/Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  ext/broadcast_channel/Cargo.toml
  ext/console/Cargo.toml
  ext/crypto/Cargo.toml
  ext/fetch/Cargo.toml
  ext/ffi/Cargo.toml
  ext/http/Cargo.toml
  ext/net/Cargo.toml
  ext/tls/Cargo.toml
  ext/url/Cargo.toml
  ext/web/Cargo.toml
  ext/webgpu/Cargo.toml
  ext/webidl/Cargo.toml
  ext/websocket/Cargo.toml
  ext/webstorage/Cargo.toml
  runtime/Cargo.toml
  serde_v8/Cargo.toml
Owners: @bartlomieju, @AaronO, @crowlKats, @lucacasonato, @littledivy, @kt3k, @piscisaureus

1.19.2 (#13825)
  Cargo.lock
  Releases.md
  cli/Cargo.toml
  cli/compat/esm_resolver.rs
  cli/compat/mod.rs
Owners: @bartlomieju

chore: update cut_a_release.md (#13822)
  tools/cut_a_release.md
Owners: @bartlomieju, @dsherret

feat(ext/http): auto-compression of fixed response bodies (#13769)
  Cargo.lock
  cli/tests/unit/http_test.ts
  ext/http/Cargo.toml
  ext/http/compressible.rs
  ext/http/lib.rs
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy

feat(net): add Deno.UnixConn interface (#13787)
  cli/dts/lib.deno.unstable.d.ts
  ext/net/01_net.js
  ext/net/lib.deno_net.d.ts
Owners: @kitsonk, @bartlomieju, @crowlKats, @lucacasonato, @littledivy

bench: add base64 roundtrip (#13839)
  cli/bench/deno_common.js
Owners: @bartlomieju

chore: update deps (#13821)
  Cargo.lock
  core/Cargo.toml
  ext/url/Cargo.toml
  runtime/Cargo.toml
  serde_v8/Cargo.toml
  test_util/Cargo.toml
  tools/wpt/expectation.json
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy, @AaronO

feat(ext/net): Use socket2 crate to create TcpListener (#13808)
  ext/net/ops.rs
  ext/net/ops_tls.rs
Owners: @bartlomieju, @crowlKats, @lucacasonato, @littledivy

chore: automatically update Releases.md when doing a release (#13837)
  tools/cut_a_release.md
  tools/release/03_bump_cli_version.ts
  tools/release/deno_workspace.ts
  tools/release/deps.ts
Owners: @bartlomieju, @dsherret

perf(ext/web): optimize atob/btoa (#13841)
  .github/workflows/ci.yml
  ext/web/05_base64.js
  ext/web/lib.rs
Owners: @bartlomieju, @kt3k, @piscisaureus, @crowlKats, @lucacasonato
